body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    hsla(264.13, 100%, 63.92%, 0.74) 0%,
    hsla(263.71, 99.73%, 64.02%, 0.743) 8.1%,
    hsla(262.49, 98.97%, 64.31%, 0.753) 15.5%,
    hsla(260.52, 97.77%, 64.72%, 0.767) 22.5%,
    hsla(257.82, 96.17%, 65.21%, 0.786) 29%,
    hsla(254.38, 94.24%, 65.75%, 0.807) 35.3%,
    hsla(250.16, 92.02%, 66.29%, 0.832) 41.2%,
    hsla(245.15, 89.6%, 66.81%, 0.857) 47.1%,
    hsla(239.31, 87.19%, 66.96%, 0.883) 52.9%,
    hsla(233.41, 85.95%, 64.36%, 0.908) 58.8%,
    hsla(228.05, 85.03%, 61.6%, 0.933) 64.7%,
    hsla(223.27, 84.46%, 58.7%, 0.954) 71%,
    hsla(219.1, 84.22%, 55.67%, 0.973) 77.5%,
    hsla(215.53, 84.31%, 52.54%, 0.987) 84.5%,
    hsla(212.55, 86.99%, 49.34%, 0.997) 91.9%,
    hsl(210.13, 100%, 46.08%) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
